body {
    background-color: #F5F5F7;
}
h1 {
    color: #1D1D1F;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}
h2 {
    color: #1D1D1F;
    font-family: 'Trebuchet MS';
    font-size: 24px;
}
h3 {
    color: #1D1D1F;
    font-family: 'Trebuchet MS';
    font-size: 18px;
}
p {
    color: #4D4D50;
    font-family: 'Trebuchet MS';
    font-size: 14px;
}
p.updatetime {
    color: #A5A5A5;
    font-family: 'Trebuchet MS';
    font-size: 14px;
}
ul {
    border-left: solid;
    border-color: #4D4D50;
    border-width: 5px;
}
li {
    color: #2A64C5;
    font-family: 'Trebuchet MS';
    font-size: 16px;
}
a {
    color: #2A64C5;
    font-family: 'Trebuchet MS';
    font-size: 16px;
}
