table, th, td {
    border: 1px solid #1D1D1F;
    border-collapse: collapse;
}
th:nth-child(even) {
    background-color: #A5A5A5;
}
th:nth-child(odd) {
    background-color: #A5A5A5;
}
th, tr {
    width: 120px;
    height: 40px;
}
th {
    color: #1D1D1F;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    text-align: center;
    height: 32px;
}
td:nth-child(1) {
    background-color: #A5A5A5;
}
tr:nth-child(even) {
    background-color: #DBDBDB;
}
tr:nth-child(odd) {
    background-color: #EDEDED;
}
td {
    color: #1D1D1F;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    text-align: center;
    height: 28px;
}