input[type=username], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}
button {
    background-color: #469CF8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    font-family: 'Trebuchet MS';
}
label {
    font-family: 'Trebuchet MS';
}
a {
    color: #2A64C5;
    font-family: 'Trebuchet MS';
    font-size: 14px;
}