body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/792/944/original/cloud-computing-circuit-future-technology-concept-background-free-vector.jpg);
    background-size: cover;
}
h1 {
    color: #F5F5F7;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}
h2 {
    color: #F5F5F7;
    font-family: 'Trebuchet MS';
    font-size: 24px;
}
